@page
@using CloudyWing.FormModule.UI.Areas.FormModule.Pages.Shared.Models
@using CloudyWing.FormModule.Web.Areas.FormModule.Pages.Manages.FormPages

@model IndexModel
@{
    Layout = "_QueryWithFieldLayout";
    Model.HeadTitle = "表單填寫紀錄";
}

@section QueryFields {
    <form id="form" method="post">
        <div class="row mb-3">
            <label asp-for="Input.FormId" class="col-3 col-sm-2 col-form-label required"></label>
            <div class="col-9 col-sm-10">
                <select asp-for="Input.FormId" asp-items="Model.Forms" class="form-select"></select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col text-center">
                <button type="submit" class="btn btn-primary" asp-page="./Index" asp-route-pageNumber="1">查詢</button>
            </div>
        </div>
    </form>
}

@if (Model.Records.Any()) {
    PaginationViewModel pagination = new PaginationViewModel(Model.Records, "form", "./Index");
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(m => Model.Records[0].SecurityCode)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(m => Model.Records[0].CompletionTime)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(m => Model.Records[0].IP)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(m => Model.Records[0].UserName)
                </th>
                <th scope="col">
                    操作
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Records) {
                <tr scope="row">
                    <td>
                        @item.SecurityCode
                    </td>
                    <td>
                        @item.CompletionTime.ToDateTimeString()
                    </td>
                    <td>
                        @item.IP
                    </td>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        <a class="btn btn-secondary" asp-page="./Display" asp-route-formId="@item.FormId" asp-route-id="@item.Id">檢視</a>
                        <button type="submit" class="btn btn-danger btn-delete" form="form" asp-page-handler="delete" asp-route-id="@item.Id">刪除</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_Pagination" model="pagination" />
} else {
    <partial name="_NoData" />
}
